.main_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 400px;
}

.title {
    text-align: center;
    font-size: 30px;
}

.record {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
}

.record img {
    position: absolute;
    width: 100%;
}

.record_frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-mask-image: url("../../resources/mask.png");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
}
.loading > * {
    font-size: 36px;
}